{% extends "base.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-content">
                <h1> Welcome! </h1>
                    <p>Welcome to the VATPAC Pilot Procedures hub. You will find resources to assist pilots flying within the virtual Australian FIR, with everything from radio phraseology to flight planning rules.</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
                    Let's go!
                </a>
                <a href="https://vatpac.org/" title="VATPAC Website" class="md-button">
                    Back to VATPAC website.
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Page links -->

<div class="lowerSection">
    <div class="md-grid md-typeset">
        <div class="feature">
					<h2>Featured Changes</h2>

					<div class="cards">
							<div class="card">
									<a href="./flight-planning/">
										<h3>Flight Planning</h3>
	
										<p>
											Learn everything you need to know to plan both IFR and VFR flights, from route selection to fuel planning.
										</p>
									</a>
							</div>
							
							<div class="card">
								<a href="./radio-telephony/">
									<h3>Radio Telephony</h3>

									<p>
										Discover the correct phraseology to use when communicating with ATC and learn how to make your radio calls more concise and professional.
									</p>
								</a>
						</div>
						
						<div class="card">
							<a href="./navigation/">
								<h3>Navigation</h3>

								<p>
									Find out how to navigate using VORs, NDBs, and GPS, and learn how to use your aircraft's instruments to stay on course.
								</p>
							</a>
						</div>
					</div>

				</div>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}
